/* ************************ Common Classes ************************ */
.topBdr {
    border-bottom: 1px solid #cccc;
    padding-bottom: 70px;
}
.salesTopBdr {
    padding: 10px 0;
    border-bottom: 1px solid #cccc;
}
.txtCenter {
    text-align: center;
    margin: 0;
    border-radius: 6px 6px 0 0;
}
.boxBorder {
    border: 1px solid #bdbdbd;
}
.blueText {
    color: #0091ff;
}
.subSection {
    padding: 40px 0 0 0;
}
.topRowPadding {
    padding-top: 20px;
}
.topPadding {
    padding-top: 20px;
}
/* ************************ Common Classes of All Pgs From Business Alerts ************************ */
.commonTopSection {
    display: flex;
    gap: 10px;
    padding: 0 0 20px 0;
    .commonIcon {
        border-radius: 999px;
        width: 32px;
        height: 32px;
        background: #30ea03;
        line-height: 32px;
        text-align: center;
        i {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .commonTitle {
        display: flex;
        align-items: center;
        h1 {
            font-size: 18px;
            padding: 0 0 5px 0;
            font-weight: bold;
            border-bottom: 4px solid #30ea03;
        }
    }
}
.filterSection {
    border: 1px solid #cccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 80px;
    background: #efefef;
}
.mainInternal {
    width: 95vw;
    margin: auto;
}
.commonLogo {
    display: flex;
    gap: 10px;
    align-items: center;
    h1 {
        font-weight: bold;
        font-size: 20px;
        border-right: 1px solid #ffff;
        padding: 15px;
        cursor: pointer;
    }
    span {
        color: #30ea03;
    }
}
.showHideFilterBtn {
    padding: 10px;
    display: inline-block;
    background: #cde9ff;
    border: 2px solid #cccc;
    .manageBtn {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        h3 {
            font-weight: bold;
            font-size: 15px;
        }
        i {
            background: #30ea03;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
        }
    }
}
.filterContainer {
    border-top: 1px solid #cccc;
    padding-top: 10px;
}
.filterBtn {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    a {
        display: block;
        text-decoration: none;
        text-align: center;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 6px;
        color: #000;
        i {
            font-size: 15px;
            font-weight: bold;
        }
    }
    a.btnGreen {
        background: #30ea03;
    }
    a.btnBlack {
        background: #000;
        color: #fff !important;
    }
}
.exportExcel {
    padding: 7px 10px;
    float: right;
    background: #30ea03;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 25px;
}

/* ************************ Header ************************ */
.header {
    background: #000;
    color: #fff;
    /* padding: 20px; */
    width: 100%;
    text-align: center;

    .commonLogo {
        display: flex;
        gap: 10px;
        align-items: center;
        h1 {
            font-weight: bold;
            font-size: 20px;
            border-right: 1px solid #ffff;
            padding: 15px;
            cursor: pointer;
        }
        span {
            color: #30ea03;
        }
    }
    .subHeader {
        display: flex;
        align-items: center;
        i {
            font-size: 30px;
        }
    }
    .titleName {
        margin-left: 10px;
        font-weight: bold;
        font-size: 15px;
        display: block;

        span {
            color: #fff;
        }
        .titleBar {
            background: #30ea03;
            color: #000;
            text-align: center;
            line-height: normal;
        }
    }

    .rightHeaderNavBar {
        margin-left: auto;
        font-size: 15px;
        text-align: center;
        ul {
            text-align: center;
            list-style-type: none;
            display: flex;
            gap: 10px;
            li {
                a {
                    /* background: #3d3d3d; */
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    text-align: center;
                    border-left: 1px solid #ffff;
                    padding: 15px;
                }
                a:hover {
                    color: #30ea03;
                }
            }
        }
    }
}

/* ************************ Footer ************************ */
.footerBg {
    background: #11174b;
    margin-top: 100px;
    color: #ffff;
    display: flex;
    padding: 5px 20px;
    .designCredit {
        margin-left: auto;
    }
}

/* ************************ Sales Tools ************************ */
.filterBox {
    padding: 10px;
    display: inline-block;
    background: #cde9ff;
    border: 2px solid #cccc;
    .filterItem {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        i {
            background: #30ea03;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
        }
        h3 {
            font-weight: bold;
            font-size: 15px;
        }
    }
}
.description {
    padding: 20px;
    /* margin-top: 20px 10px; */
    margin: 10px 0;
    background: #cde9ff;
    border-left: 6px solid #30ea03;
}

/* ************************ Playbooks ************************ */
.myTab {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        font-size: 18px;
        gap: 1px;
        li {
            a {
                background: #bad4e7;
                border-radius: 6px 6px 0 0;
                display: block;
                padding: 10px 20px;

                &&:hover {
                    text-decoration: none;
                }
            }

            a.tabActive {
                background: #30ea03;
            }
        }
    }
}
.bgFilter {
    background: #ddf1ff;
    .sideBdr {
        padding: 30px 40px;
    }
    .category {
        background: #30ea03;
        padding: 10px;
        font-weight: bold;
        /* margin: 0 0 10px 0; */
        h1 {
            font-weight: bold;
            font-size: 18px;
        }
    }
    .folderName {
        ul {
            margin: 10px 0;
            padding: 0;
            list-style-type: none;
            li {
                display: flex;
                margin-bottom: 10px;
                > div:first-child {
                    background: #9c9c9ccc;
                    width: 5px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    position: relative;

                    .circle {
                        flex-shrink: 0;
                        border-radius: 999px;
                        height: 20px;
                        width: 20px;
                        background: #30ea03;
                        position: absolute;
                    }
                }
                span::before {
                    content: "";
                    display: block;
                }

                span::after {
                    content: "";
                    display: block;
                    border-width: 20px;
                    border: 5px solid #9c9c9ccc;
                    margin-left: 11px;
                }

                a.fileGrp {
                    display: block;
                    padding: 10px;
                    background: #ffff;
                    border: 2px solid #cccc;
                    border-left: 6px solid #30ea03;
                    text-decoration: none;
                    flex-grow: 1;
                    &&:hover {
                        color: #000;
                    }

                    .fileItems {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        i {
                            font-size: 25px;
                        }
                        h1 {
                            font-size: 16px;
                            padding-bottom: 5px;
                        }
                        .date {
                            font-size: 12px;
                            color: #a3a3a3;
                        }
                    }
                }
            }
        }
    }
}

/* ************************ Category Insights ************************ */
.categories {
    border-top: none;
    border-radius: 0 0 6px 6px;
    border: 1px solid #a3a3a3;
    padding: 20px;
    a{
        text-decoration: none;
        display: block;
    }
    .folderSubSectionTitle {
        display: flex;
        align-items: center;
        h1 {
            font-size: 15px;
            font-weight: bold;
        }
        .toggleIcon {
            margin-left: auto;
            i {
                font-weight: bold;
            }
        }
    }
}
.categoryInsightsBtn:hover {
    background: #30ea03;
    color: #fff;
    outline: 2px solid #000;
}

/* 
@mixin desktop {   @media (max-width: #{1400px}) { @content;  }}
@mixin desktopMd {   @media (max-width: #{1280px}) { @content;  }}
@mixin desktopSm {   @media (max-width: #{1200px}) { @content;  }}
@mixin ipadPro {   @media (max-width: #{1366px}) { @content;  }}
@mixin ipad {   @media (max-width: #{1024px}) { @content;  }}
@mixin ninenine2 {   @media (max-width: #{992px}) { @content;  }}
@mixin ninenine1 {   @media (max-width: #{991px}) { @content;  }}
@mixin sevensix8 {   @media (max-width: #{768px}) { @content;  }}
@mixin sevensix7 {   @media (max-width: #{767px}) { @content;  }}
@mixin mobileMd {   @media (max-width: #{580px}) { @content;  }}
@mixin mobileSm {   @media (max-width: #{450px}) { @content;  }} */

@media (max-width: 450px) {
    .filterBtn {
        float: right;
        margin-top: 0;
    }
    .topBdr {
        padding-bottom: 20px;
    }
    .exportExcel {
        margin-top: auto;
    }
    .salesTopBdr {
        padding: 10px 0 15px;
    }
    .sideBdr {
        padding: 10px 10px;
    }
}
