
/* -------Event Form------- */
.tableHeader {
    background: #000000;
    color: #ffffff;
    font-size: 15px;
}
.txtCenter {
    text-align: center;
}
table.eventTbl {
    tbody {
        td {
            vertical-align: middle;
        }
    }
}
.action {
    > div {
        min-width: 120px;
    }
    a {
        height: 32px;
        width: 32px;
        display: inline-block;
        line-height: 32px;
        text-align: center;
        border-radius: 6px;
        text-decoration: none;
    }

    .searchIcon {
        background: #ff93e9;
    }
    .editIcon {
        background: #30ea03;
    }
    .deleteIcon {
        background: #000000;
        i {
            color: #ffffff;
        }
    }
    .unActive {
        background: #bdccff;
        i {
            color: #000000;
        }
    }
}
.eventBtn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background: #30ea03;
    padding: 5px;
    border-radius: 6px;
}
.eventBtn {
    a {
        text-decoration: none;
        color: #000000;
    }
}
.formContainer {
    h1 {
        font-size: 30px;
        font-weight: bold;
        padding: 0 10px;
        text-align: center;
    }
    .textareaMedium {
        height: 130px;
        width: 100%;
    }
}

/* -----modal------ */
.modal-body {
    padding: 20px;

    .choosenDates{
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
    }
    .dateGrps{
        display: flex;
        gap: 10px;
    }
    .minusIcon{
        background: #000000;
        border-radius: 999px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        i{
            display: flex;
            justify-content: center;
            color: #fff;
        }
    }
}

.modal-header {
    padding: 0 !important;
    border-bottom: none !important;
}
.modal-header .close {
    margin: 20px 20px 0 0;
    background: red;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px !important;
    margin: 5px 20px;
    border-bottom: 1px solid #ccc;

    span {
        background: #000000;
        height: 32px !important;
        width: 32px !important;
        min-width: 32px !important;
        min-height: 32px !important;
        border-radius: 999px;
        text-align: center;
        line-height: 32px;
        margin-right: 5px;
        display: inline-block;

        i {
            color: #ffffff;
            font-size: 18px;
        }
    }
}
.modal-content {
    .close {
        background: rgba(0, 0, 0, 1);
        height: 24px !important;
        width: 24px !important;
        line-height: 24px !important;
        color: #fff !important;
        border-radius: 999px !important;
        font-size: 15px;
        text-align: center;
        opacity: 1;
    }
}
