/* ************************ Common Classes ************************ */
body {
    font-size: 13px;
    font-weight: normal;
    color: #000;
}

.mainInternal {
    width: 95vw;
    margin: auto;
    min-height: calc(100vh - 99px);
}

.topBdr {
    border-bottom: 1px solid #cccc;
    padding-bottom: 70px;
}

.salesTopBdr {
    padding: 10px 0;
    border-bottom: 1px solid #cccc;
}

.txtCenter {
    text-align: center;
    margin: 0;
    border-radius: 6px 6px 0 0;
}

.boxBorder {
    border: 1px solid #bdbdbd;
}

.blueText {
    color: #0091ff;
}

.subSection {
    padding: 5px 0 0 0;
}

.topRowPadding {
    padding-top: 20px;
}

.topPadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sideBdr {
    padding: 30px 40px;
}

.folderName {
    ul {
        margin: 10px 0;
        padding: 0;
        list-style-type: none;

        li {
            display: flex;
            margin-bottom: 10px;

            >div:first-child {
                background: #9c9c9ccc;
                width: 5px;
                justify-content: center;
                display: flex;
                align-items: center;
                position: relative;

                .circle {
                    flex-shrink: 0;
                    border-radius: 999px;
                    height: 20px;
                    width: 20px;
                    background: #30ea03;
                    position: absolute;
                }
            }

            span::before {
                content: "";
                display: block;
            }

            span::after {
                content: "";
                display: block;
                border-width: 20px;
                border: 5px solid #9c9c9ccc;
                margin-left: 11px;
            }

            a.fileGrp {
                display: block;
                padding: 10px;
                background: #ffff;
                border: 2px solid #cccc;
                border-left: 6px solid #30ea03;
                text-decoration: none;
                flex-grow: 1;

                &&:hover {
                    color: #000;
                }

                .fileItems {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    i {
                        font-size: 25px;
                    }

                    h1 {
                        font-weight: bold;
                        font-size: 13px;
                    }

                    .date {
                        color: #a3a3a3;
                    }
                }
            }
        }
    }
}

.categories {
    background: #30ea03;
    padding: 10px;
    font-weight: bold;

    h1 {
        font-weight: bold;
        font-size: 15px;
    }
}

/********************** Common Button ********************** */
.btnCommon {
    padding: 10px;
    color: #000;
    width: auto;
    cursor: pointer;
    border: 0px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.btnGreen,
.btnGreen:hover {
    background: #30ea03;
    color: #000;
}

.btnPink,
.btnPink:hover {
    background: #ff93e9;
    color: #000;
}

.btnBlack,
.btnBlack:hover {
    background: #000;
    color: #fff;
}

.btnTeal,
.btnTeal:hover {
    background: #0399ea;
    color: #000;
}

.btnYellow,
.btnYellow:hover {
    background: #ffff00;
    color: #000;
}

.rightBtns {
    margin-left: auto;
    display: flex;
    gap: 10px;
    border-radius: 6px;
    font-weight: bold;

    > div {
        padding: 10px 40px;
        gap: 10px;
    }
}

/* ************************ Common Classes of All Pgs From Business Alerts ************************ */
.commonTopSection {
    display: flex;
    gap: 10px;
    padding: 0 0 20px 0;
    align-items: center;

    >div:first-child {
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .commonIcon {
        border-radius: 999px;
        width: 32px;
        height: 32px;
        background: #30ea03;
        line-height: 32px;
        text-align: center;
        position: relative;

        i {
            font-size: 25px;
            position: absolute;
            left: 3px;
            top: -11px;
            font-weight: bold;
        }
    }

    .commonTitle {
        display: flex;
        align-items: center;

        h1 {
            font-size: 18px;
            padding: 0 0 5px 0;
            font-weight: bold;
            border-bottom: 4px solid #30ea03;
        }
    }
}

.filterSection {
    border: 1px solid #cccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 80px;
    background: #efefef;
}

.commonLogo {
    display: flex;
    gap: 10px;
    align-items: center;

    h1 {
        font-weight: bold;
        font-size: 20px;
        border-right: 1px solid #ffff;
        padding: 15px;
        cursor: pointer;
    }

    span {
        color: #30ea03;
    }
}

.showHideFilterBtn {
    padding: 10px;
    display: inline-block;
    background: #cde9ff;
    border: 2px solid #cccc;
    margin-bottom: 2px;
    margin-left: 2px;

    .manageBtn {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        h3 {
            font-weight: bold;
            font-size: 15px;
            color: #000;
        }

        i {
            background: #30ea03;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
        }
    }
}

.filterContainer {
    border-top: 1px solid #cccc;
    padding-top: 10px;
}

.filterBtn {
    display: inline-flex;
    gap: 10px;
    margin-top: 25px;

    a {
        display: block;
        text-decoration: none;
        text-align: center;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 6px;
        color: #000;

        i {
            font-size: 15px;
            font-weight: bold;
        }
    }

    a.btnGreen {
        background: #30ea03;
    }

    a.btnBlack {
        background: #000;
        color: #fff !important;
    }
}

.exportExcel {
    padding: 7px 10px;
    float: right;
    background: #30ea03;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 29px;
}

/* ************************ Header ************************ */
.header {
    background: #000;
    color: #fff;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;

    img {
        border-right: 1px solid #ffff;
        width: 100px;
        height: 15px;
    }

    /* a {
        display: block;
        text-decoration: none;
        h1 {
        }
        span {
            color: #30ea03;
            margin: 0;
            padding: 0;

        }
        &&:hover {
            h1 {
                color: #fff;
                span {
                    color: #30ea03;
                }
            }
        }
    }
    .subHeader {
        display: flex;
        align-items: center;
        i {
            font-size: 30px;
        }
        a {
            margin-left: 10px;
            font-weight: bold;
            font-size: 15px;
            display: block;
            text-decoration: none;
            h4 {
                color: #fff;
            }
            span {
                background: #30ea03;
                color: #000;
            }
        }
    } */
    .bars {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;
        font-size: 30px;
        color: yellowgreen;
        z-index: 1000;
    }

    .closebtn {
        display: none;
        position: fixed;
        right: 15px;
        top: -10px;
        padding: 10px;
        color: #999;
        text-decoration: none;
        font-size: 30px;
        border-radius: 999px;
    }

    .leftNav {
        display: flex;
        gap: 10px;

        img {
            height: 50px;
        }
    }

    .rightHeaderNavBar {
        margin-left: auto;
        text-align: center;

        ul {
            text-align: center;
            list-style-type: none;
            display: flex;
            gap: 10px;

            li {
                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    /* border-left: 1px solid #ffff; */
                    padding: 15px;
                    float: left;
                }

                i {
                    margin-right: 5px;
                }

                a:hover {
                    color: #30ea03;
                }
            }
        }
    }
}

/* ************************ Footer ************************ */
.footerBg {
    background: #11174b;
    margin-top: 20px;
    color: #ffff;
    display: flex;
    padding: 5px 20px;

    .designCredit {
        margin-left: auto;
    }
}

/* ************************ Sales Tools ************************ */
.filterBox {
    padding: 10px;
    display: inline-block;
    background: #cde9ff;
    border: 2px solid #cccc;

    .filterItem {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        i {
            background: #30ea03;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            font-size: 20px;
        }

        h3 {
            font-weight: bold;
            font-size: 15px;
        }
    }
}

.description {
    padding: 20px;
    margin: 30px 0;
    background: #cde9ff;
    border-left: 6px solid #30ea03;
}

/* ************************ Playbooks ************************ */
.myTab {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        font-size: 18px;
        gap: 1px;

        li {
            a {
                background: #bad4e7;
                border-radius: 6px 6px 0 0;
                display: block;
                padding: 10px 20px;

                &&:hover {
                    text-decoration: none;
                }
            }

            a.tabActive {
                background: #30ea03;
            }
        }
    }
}

.bgFilter {
    background: #ddf1ff;
}

/* ************************ Category Insights ************************ */
.subCategories {
    border: 1px solid #a3a3a3;
    border-top: none;
    border-radius: 0 0 6px 6px;
    padding: 20px;

    a {
        text-decoration: none;
        display: block;
    }

    .folderSubSectionTitle {
        display: flex;
        align-items: center;

        h1 {
            font-weight: bold;
            font-size: 13px;
        }

        .toggleIcon {
            margin-left: auto;
            height: 25px;
            width: 25px;
            line-height: 25px;
            text-align: center;
            background: #30ea03;
            border-radius: 999px;

            i {
                font-weight: bold;
            }
        }
    }
}

a.categoryInsightsBtn {
    display: inline-block;
    background: #30ea03;
    color: #fff;
    outline: 2px solid #000;
    text-decoration: none;
}

/* 
@mixin desktop {   @media (max-width: #{1400px}) { @content;  }}
@mixin desktopMd {   @media (max-width: #{1280px}) { @content;  }}
@mixin desktopSm {   @media (max-width: #{1200px}) { @content;  }}
@mixin ipadPro {   @media (max-width: #{1366px}) { @content;  }}
@mixin ipad {   @media (max-width: #{1024px}) { @content;  }}
@mixin ninenine2 {   @media (max-width: #{992px}) { @content;  }}
@mixin ninenine1 {   @media (max-width: #{991px}) { @content;  }}
@mixin sevensix8 {   @media (max-width: #{768px}) { @content;  }}
@mixin sevensix7 {   @media (max-width: #{767px}) { @content;  }}
@mixin mobileMd {   @media (max-width: #{580px}) { @content;  }}
@mixin mobileSm {   @media (max-width: #{450px}) { @content;  }} */

@media (max-width: 450px) {
    .filterBtn {
        float: right;
        margin-top: 0;
    }

    .topBdr {
        padding-bottom: 20px;
    }

    .exportExcel {
        margin-top: auto;
    }

    .salesTopBdr {
        padding: 10px 0 15px;
    }

    .sideBdr {
        padding: 10px 34px;
    }

    .filterSection {
        margin-top: 30px;
    }

    .rightHeaderNavBar {
        display: none;
        position: fixed;
        z-index: 100;
        right: 0px;
        top: 0;
        width: 100%;
        background: white;

        ul {
            flex-direction: column;
            color: #000;
            
            li {
                float: left;
                border-bottom: 1px solid #eee;
                height: 100%;
            }
        }
    }
    .bars {
        display: block !important;
    }

    .showMenu {
        .closebtn {
            display: block !important;
            background: none;
            z-index: 999;
        }

        .bars {
            display: none !important;
        }

        .rightHeaderNavBar {
            display: block !important;
        }
    }

    .commonTopSection {
        flex-direction: column;
        float: left;

        .commonTitle {
            flex-direction: column;
            margin: inherit;
        }

        .rightBtns {
            flex-direction: column;
            margin: inherit;
            width: 100%;
        }
    }
}