.outerSection {
    padding: 20px;
}

.subSection {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 10px;
}

.title {
    font-size: 34px;
    font-weight: bold;
    border-bottom: 7px solid #30ea03;
    padding-bottom: 15px;
}

.description {
    font-size: 14px;
    padding: 15px 0 30px 0;
}

.homeTopLinks {
    a {
        display: block;
        border: 1px solid #c5c5c5;
        border-radius: 6px;
        text-decoration: none;

        .icon {
            position: relative;
            height: 80px;

            span {
                display: block;
                width: 80px;
                height: 80px;
                position: absolute;
                top: -10px;
                margin-left: -40px;
                left: 50%;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 0px 0px 6px 6px;
                }
            }

            span::before {
                content: "";
                display: block;
                width: 0px;
                height: 0px;
                position: absolute;
                top: 3px;
                left: -8px;
                border-color: transparent transparent transparent black;
                border-width: 8px;
                border-style: solid;
                rotate: 45deg;
                z-index: 10;
            }

            span::after {
                content: "";
                display: block;
                width: 0px;
                height: 0px;
                position: absolute;
                top: 3px;
                right: -8px;
                border-color: black transparent transparent transparent;
                border-width: 8px;
                border-style: solid;
                rotate: 45deg;
                z-index: 10;
            }

            /* span::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background: black;
            position: absolute;
            top: 0;
            right: -10px;
            border-radius: 0 10px 0 0;
        } */
        }

        .cta {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0px;
            font-size: 15px;
        }

    }

    a:hover {
        border: 1px solid #30ea03;
    }

}

.rightNav {
    ul {
        li {
            a {
                border: 1px solid #c5c5c5;
                display: block;
                padding: 5px 10px;
                text-decoration: none;
                margin-top: 10px;

                >div {
                    display: flex;
                    gap: 10px;
                    text-align: center;
                    align-items: center;

                    span {
                        background: #30ea03;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;

                        i {
                            color: #000;
                            background: none;
                            font-size: 20px;
                        }
                    }

                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                    }

                    .arrow {
                        margin-left: auto;
                        height: 32px;
                        width: 32px;
                        border: 5px solid #fff;
                        border-radius: 999px;
                        background: #000;
                    }

                    .arrow i {
                        color: #ffff;
                        line-height: 24px;
                    }
                }
            }

            a:hover {
                transition: all 0.3s ease-in-out;
                background-color: #30ea03;

                span {
                    background: #000;

                    i {
                        color: #fff;
                    }
                }


                .arrow {
                    height: 32px;
                    width: 32px;
                    background: #fff;
                    border: 5px solid #000;
                    border-radius: 999px;
                }

                .arrow i {
                    color: #000;
                    line-height: 24px;
                }

            }

        }
    }
}
.calendarLink{
    /* border: 1px solid red; */
    height: 150px;
}