.bg {
    background: #2d4559;
    padding: 40px;
    margin-bottom: 20px;
}

/* -----Tabs----- */
.myTab {
    border-bottom: 1px solid white;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        font-size: 18px;
        gap: 1px;

        li {
            justify-content: center;

            a {
                background: #000000;
                display: block;
                align-items: center;
                padding: 10px 20px;

                &&:hover {
                    text-decoration: none;
                }
            }

            a.tabActive {
                background: #ffffff;
            }
        }
    }
}

.monthName {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 40px;
}
/* ------Sections------ */
.outerSection {
    display: flex;
    gap: 20px;
    width: 100%;
}

.outerSection > div:nth-last-child {
    flex: 2;
}

.outerSection > div:nth-last-child {
    flex: 1;
}

.internalSection {
    border: 1px solid #ffffff;
    padding: 40px 20px 20px 20px;
    position: relative;
}

.outerCircle {
    position: absolute;
    top: -30px;
    left: 20px;
    line-height: 60px;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 999px;
    background: #30ea03;

    i {
        color: #000000;
        font-size: 40px;
    }
}

.title {
    color: #30ea03;
    font-weight: bold;
    font-size: 21px;
}

.date {
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #30ea03;
}

.subRow {
    border-bottom: 1px dashed white;
    padding: 15px 0;
}

.subRow:last-child {
    border: none;
}

.subHead {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.titleHead {
    font-size: 21px;
    font-weight: bold;
    color: #b7ffff;
}

.name {
    font-weight: bold;
    padding: 0;
    margin-left: 20px;
    font-size: 17px;
    color: #ffffff;
}

.icon {
    color: #b7ffff;
}

/* -------Event Form------- */
a.eventBtn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background: #30ea03;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
}
.formContainer {
    h1 {
        font-size: 30px;
        font-weight: bold;
        padding: 0 10px;
        text-align: center;
    }
    .textareaMedium {
        height: 130px;
        width: 100%;
    }
    .formBars {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        input {
            border: 1px solid #000000;
            padding: 6px;
        }
        select {
            border: 1px solid #000000;
            padding: 6px;
        }
    }
    .choosenDates {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
    }
    .dateGrps {
        display: flex;
        gap: 10px;
    }
    .minusIcon {
        background: #000000;
        border-radius: 999px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        i {
            display: flex;
            justify-content: center;
            color: #fff;
        }
    }
}

/********************** Modal ********************** */
.modal-body {
    padding: 20px;
}

.modal-header {
    padding: 0 !important;
    border-bottom: none !important;
}
.modal-header .close {
    margin: 20px 20px 0 0;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px !important;
    margin: 5px 20px;
    border-bottom: 1px solid #ccc;

    span {
        background: #000000;
        height: 32px !important;
        width: 32px !important;
        min-width: 32px !important;
        min-height: 32px !important;
        border-radius: 999px;
        text-align: center;
        line-height: 32px;
        margin-right: 5px;
        display: inline-block;

        i {
            color: #ffffff;
            font-size: 18px;
        }
    }
}
.modal-content {
    .close {
        background: rgba(0, 0, 0, 1);
        height: 24px !important;
        width: 24px !important;
        line-height: 24px !important;
        color: #fff !important;
        border-radius: 999px !important;
        font-size: 15px;
        text-align: center;
        opacity: 1;
    }
}
